---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout content={{ title: "Wasin Wachirapusitanun | Portfolio" }}>
  <div class="flex justify-center aligns-center gap-2">
    Hello, I'm Wasin Wachirapusitanun
  </div>
</BaseLayout>
