---
import ProjectList from '@/containers/projects/projectList.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout content={{ title: 'Wasin Wachirapusitanun | Portfolio | Projects' }}>
	<div class="py-12 md:py-16">
		<ProjectList />
	</div>
</BaseLayout>
