---
import { cn } from '@/lib/utils';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	title: string;
	description: string;
}

const { title, description, class: stylesClass, ...restProps } = Astro.props;
---

<div
	{...restProps}
	class={cn('flex flex-col items-start bg-grayscale-100 p-4 gap-4 w-full rounded-xl', stylesClass)}
>
	<div class="bg-grayscale-900 p-1.5 text-white">
		<slot name="icon" />
	</div>
	<div class="flex flex-col gap-2">
		<p class="joey_subtitle2_bold">{title}</p>
		<p class="joey_body1">{description}</p>
	</div>
</div>
