---
import { cva, type VariantProps } from "class-variance-authority";
import { cn } from "@/lib/utils";

const { title, className, variant, size, ...restProps } = Astro.props;

const buttonVariants = cva(
  "joey_button inline-flex items-center justify-center whitespace-nowrap rounded-lg cursor-pointer transition-all duration-300 shadow-xs",
  {
    variants: {
      variant: {
        contained: "shadow-xs",
        outlined: "border shadow-xs",
        text: "",
      },
      size: {
        medium: "h-9 px-4 py-2 has-[>svg]:px-3",
      },
      color: {
        primary: "",
      },
    },
    compoundVariants: [
      {
        variant: "contained",
        color: "primary",
        className:
          "bg-primary text-common-white hover:bg-primary-700 focus:bg-primary-700 active:bg-primary-900",
      },
      {
        variant: "outlined",
        color: "primary",
        className:
          "border-primary text-primary hover:bg-primary-100 focus:bg-primary-100 active:bg-primary-300/50",
      },
      {
        variant: "text",
        color: "primary",
        className:
          "text-primary hover:bg-primary-100 focus:bg-primary-100 active:bg-primary-300/50",
      },
    ],
    defaultVariants: {
      variant: "contained",
      color: "primary",
      size: "medium",
    },
  }
);
---

<button class={cn(buttonVariants({ variant, size, className }))} {...restProps}>
  <slot />
</button>
