---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	company: {
		logoUrl: string;
		name: string;
	};
}

const { company, ...restProps } = Astro.props;
---

<div
	{...restProps}
	class={`flex flex-col justify-center items-center rounded-xl bg-white p-4 hover:bg-primary-500 ${restProps.class}`}
>
	<img src={company.logoUrl} alt={company.name} class="h-auto w-[100px]" />
</div>
