---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {
	name: string;
	imageUrl: string;
	dateTime?: string;
}

const { name, imageUrl, dateTime, ...restProps } = Astro.props;
---

<div
	{...restProps}
	class={`flex w-full flex-col justify-between items-center overflow-hidden max-h-[390px] bg-primary-100 hover:bg-primary-300/50 pt-4 px-4 md:pt-8 sm:px-8 md:px-12 lg:px-16 ${restProps.class ?? ''}`}
>
	<div class={'min-h-[150px]'}>
		<p class={'joey_subtitle2_bold text-center'}>{name}</p>
		<div class="mt-3 flex flex-col">
			<slot name="project-description" />
		</div>
		{dateTime && <p class={'joey_body2 text-typography-secondary text-center'}>{dateTime}</p>}
	</div>
	<div class={'h-[200px] w-full relative mt-4'}>
		<img
			src={imageUrl}
			alt={`${name} Project`}
			class={'absolute top-0 w-full h-auto shadow-image rounded-sm'}
		/>
	</div>
</div>
