---
import CompanyBox from '@/components/CompanyBox.astro';
import Container from '@/components/Container.astro';

const COMPANIES = [
	{ logoUrl: 'assets/company-logo/odds.png', name: 'ODDS Teams' },
	{ logoUrl: 'assets/company-logo/set.png', name: 'The Stock Exchange Thailand' },
	{ logoUrl: 'assets/company-logo/ttb.png', name: 'TMBThanachart Bank' },
	{ logoUrl: 'assets/company-logo/foodbank.png', name: 'Foodbank BKK' },
	{ logoUrl: 'assets/company-logo/skooldio.png', name: 'Skooldio Company' },
	{ logoUrl: 'assets/company-logo/atmosph.png', name: 'Atmosph Company' },
	{ logoUrl: 'assets/company-logo/uxth.png', name: 'UX Thailand Communities' },
	{ logoUrl: 'assets/company-logo/cjworx.png', name: 'CJWORX Company' },
	{ logoUrl: 'assets/company-logo/digital-spirals.png', name: 'Digital Spirals Company' },
	{ logoUrl: 'assets/company-logo/suffix.png', name: 'Suffix Company' }
];
---

<Container className={'mt-12 flex flex-col items-center justify-center md:mt-16'}>
	<p class={'joey_caption_bold uppercase tracking-widest text-primary-700 text-center'}>
		BUILT PROFESSIONAL BRANDS
	</p>
	<div class="mt-6 flex flex-wrap items-center justify-center gap-x-8 gap-y-6">
		{
			COMPANIES.map((company) => (
				<div class="w-[calc(50%-1rem)] sm:w-[calc(33.333%-1.5rem)] lg:w-[calc(16.666%-1.5rem)]">
					<CompanyBox company={company} />
				</div>
			))
		}
	</div>
</Container>
