---
import Button from "@/components/Button.astro";
import { differenceInYears } from "date-fns";

const startWorkingDate = new Date("12/15/2019");
const currentDate = new Date();

const diffYear = differenceInYears(currentDate, startWorkingDate);
---

<div
  class="container mx-auto mt-12 flex flex-col md:flex-row justify-center aligns-start gap-8"
>
  <img
    src="/assets/profile/joey_ai.png"
    alt="Joey AI profile image"
    class="flex-1 rounded-xl"
  />
  <div class="flex flex-col align-start flex-1 shrink-0 gap-6">
    <h1 class="joey_subtitle1">Hi, I'm Joey Wasin</h1>
    <h2 class="joey_heading1 color-primary">Freelance | Software Engineer</h2>
    <p class="joey_body1">
      Product design and web development. I have been working in the development
      field for {diffYear} years so far. I specialize in front-end development and
      UX/UI design. We live by these words in everything we develop and every story
      we tell. The web and applications mustn't be useless for an organization.
    </p>
    <div class="flex gap-4">
      <Button>Linked In</Button>
      <Button variant="outlined">Github</Button>
    </div>
  </div>
</div>
