---
import { ArrowRight } from 'lucide-react';
import Button from '@/components/Button.astro';
import Container from '@/components/Container.astro';
import ProjectItem from '@/components/ProjectItem.astro';
import Link from '@/components/Link.astro';
---

<Container className={'mt-16 md:mt-22.5'}>
	<div class="flex justify-between">
		<h3 class="joey_heading3">Highlight Projects</h3>
		<!-- <Button variant={'text'}>
			View All
			<span slot="end-icon"><ArrowRight /></span>
		</Button> -->
	</div>
	<div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2">
		<ProjectItem name={'SET | Corporate Value Up'} imageUrl={'assets/projects/set-cvup.png'}>
			<p slot={'project-description'} class={'joey_body1 text-center'}>
				To encourage and guide companies to enhance their corporate value through improved
				management, increase transparency
			</p>
		</ProjectItem>
		<ProjectItem
			name={'BKK Food Bank Digital Back-office'}
			imageUrl={'assets/projects/foodbank.png'}
		>
			<span slot={'project-description'} class={'joey_body1 text-center'}>
				Products for BKK admins to manage products for sharing foods to vulnerable people.
				<Link
					href="https://medium.com/odds-team/กว่าจะเป็น-bkk-food-bank-digital-bcde62065616"
					target="_blank"
				>
					[Read more]
				</Link>
			</span>
		</ProjectItem>
		<ProjectItem name={'UX Thailand Conference 2024'} imageUrl={'assets/projects/uxthailand.png'}>
			<span slot={'project-description'} class={'joey_body1 text-center'}>
				Largest UX design conference in Thailand. Join our community
				<Link href="https://www.facebook.com/groups/uxthailand" target="_blank">
					[Facebook Group]
				</Link>
			</span>
		</ProjectItem>
		<ProjectItem name={'TCASter Application'} imageUrl={'assets/projects/tcaster-app.png'}>
			<span slot={'project-description'} class={'joey_body1 text-center'}>
				Supporting application for high-school students’ calculated admission score to prepare
				admission to university. Available in
				<Link href="https://apps.apple.com/th/app/tcaster/id1267234768?l=th" target="_blank">
					App Store
				</Link> and
				<Link
					href="https://play.google.com/store/apps/details?id=com.skooldio.tcaster&hl=en"
					target="_blank"
				>
					Play Store
				</Link>
			</span>
		</ProjectItem>
	</div>
</Container>
