---
import Container from '@/components/Container.astro';
---

<section class="bg-primary-900 w-full py-30 md:py-24">
	<Container>
		<p class="joey_heading1 md:joey_quote text-white">
			<span class="text-primary-300">AI</span>
			moves at the speed of light,<br />but great products move at the pace of<br />the
			<span class="text-primary-300">human heart</span>.
		</p>
		<div class="mt-8 h-[6px] w-1/2 rounded-full bg-white md:w-1/3 lg:w-1/4"></div>
	</Container>
</section>
