---
import Button from '@/components/Button.astro';
import Container from '@/components/Container.astro';
import DownloadOutlinedIcon from '@/components/icons/DownloadOutlinedIcon.astro';
import MediumIcon from '@/components/icons/MediumIcon.astro';
import Link from '@/components/Link.astro';
---

<script>
	const downloadResumeButton = document.getElementById('appbar-download-resume');

	const handleDownloadResume = () => {
		window.open(
			'https://drive.google.com/file/d/1b3PzztWTgOYjBwmabFryQ7j-kS0SVZiX/view?usp=sharing',
			'_blank'
		);
	};

	downloadResumeButton?.addEventListener('click', () => {
		handleDownloadResume();
	});
</script>

<div id="joey-appbar" class={`fixed w-full h-(--appbar-height) z-50`}>
	<Container className="my-auto">
		<div class="flex items-center justify-between py-2.5">
			<img src="/assets/logo/wasin-full-logo-light.svg" alt="Joey Logo" />
			<div class="flex items-center justify-center gap-4">
				<Link className={'hidden sm:inline-flex'} color="inherit" href="#projects">Projects</Link>
				<Link
					color="inherit"
					href="https://medium.com/@joeywasin"
					target="_blank"
					className={'hidden items-center gap-1 sm:inline-flex'}
				>
					<span><MediumIcon /></span>
					Medium
				</Link>
				<Button id="appbar-download-resume" variant="outlined">
					<span slot="start-icon"><DownloadOutlinedIcon /></span>
					Get my resume
				</Button>
			</div>
		</div>
	</Container>
</div>
