---
import Button from "@/components/Button.astro";
import Link from "@/components/Link.astro";

const handleDownloadResume = () => {
  console.log("download resume");
};
---

<div id="joey-appbar" class={`fixed w-full h-(--appbar-height) z-50`}>
  <div class="container mx-auto my-auto">
    <div class="flex justify-between items-center py-2.5">
      <img
        src="/assets/logo/wasin-full-logo-light.svg"
        alt="Joey Logo"
        class="logo"
      />
      <div class="flex justify-center items-center gap-4">
        <Link color="inherit" href="#projects">Projects</Link>
        <Link
          color="inherit"
          href="https://medium.com/@joeywasin"
          target="_blank"
        >
          Medium
        </Link>
        <Button variant="outlined" onclick={handleDownloadResume}>
          Get my resume
        </Button>
      </div>
    </div>
  </div>
</div>
