---
import Button from "@/components/Button.astro";
---

<div id="joey-appbar">
  <div class="container mx-auto">
    <div class="flex justify-between items-center py-2.5">
      <img
        src="/assets/logo/wasin-full-logo-light.svg"
        alt="Joey Logo"
        class="logo"
      />
      <div class="flex gap-2">
        <Button variant="text">Medium</Button>
        <Button variant="outlined">Get my resume</Button>
      </div>
    </div>
  </div>
</div>
